.pages {
    background-color: slategray;
    margin: 1rem;
    text-align: center;
}
.pages h1 {
    background-color: slategray;
}

.pages p {
    background-color: slategray;
}




.body-of-work {
    flex: 4;
    background-color: slategray;
    padding: 0;
    border: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: rgb(243, 197, 44);
}

.project-link {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#long-boi {
    border-style: solid;
    border-width: 3px;


    flex: 1;
    border-color: steelblue;
}


#long-boi header {
    padding: 20px;
    text-align: center;
    font-size: 20;
    color: wheat;
    background-color: steelblue;
    border: 10px solid steelblue;
    margin-bottom: 10px;

}

#long-boi p {
    text-align: center;
}

#long-boi img {
    width: 100%;
    border: 10px solid slategray
}

#small-boi {
    border-style: solid;
    border-width: 3px;
    flex: 1;
    border-color: slategray;
}


#small-boi header {
    padding: 20px;
    text-align: center;
    font-size: 20;
    color: rgb(243, 197, 44);
    background-color: slategray;
    border: 10px solid slategray;
    margin-bottom: 10px;
}


#small-boi p {
    text-align: center;
    color: wheat;
    font-size: large;
}

#small-boi img {
    width: 100%;
    height: 100%;
    border: 10px solid steelblue
}
#small-boi-boi {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#small-boi-boi img {
    width: 10%;
    height: 10%;
    border: 10px solid steelblue
}

#long-boi:hover,
#small-boi:hover,
a:hover {
    opacity: 0.5
}


.profile {
    height: 50px;
}